<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MySPA</title>
    
  </head>
  <body>
    <!-- <header>
      <h1>Safety and Wellbeing</h1>
      <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
    </header> -->

    <main >
      <!-- <app-landing-page></app-landing-page> -->
      <router-outlet></router-outlet>
    </main>

    <!-- <footer>
      <p>&copy; 2024 MySPA. All Rights Reserved.</p>
    </footer> -->
  </body>
</html>
